<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">

</head>

<body class="pink lighten-5">
    <div class="container">
        <div class="section flow-text" id="stuffDetail">
            <h1>Homework Details:</h1>
            <table>
                <tr>
                    <th>Homework:</th>
                    <td><%= homework %></td>
                </tr>
                <tr>
                    <th>Due Date:</th>
                    <td><%= due_date %></td>

                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        <td><%= description %></td>
                    </td>
                </tr>
            </table>
        </div>

        <div class="section" id="stuffControls">
            <a class="btn-large waves-effect waves-light pink left modal-trigger" href="#stuffEdit">
                <i class="material-icons right">edit</i>Edit
            </a>
            <a class="btn-large waves-effect waves-light pink left"  href="/stuff/homework/<%= id %>/delete">
                <i class="material-icons right">delete</i>Delete
            </a>
        </div>


        <div class="modal" id="stuffEdit">

            <div class="modal-content">

                <h2>Edit:</h2>
                <form method="post" action="/stuff/homework/<%= id%>"> <!-- default action is the page's URL --> 
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="nameInput">Homework:</label>
                            <input type="text" name="homework" id="nameInput" class="validate" data-length="32" value="<%= homework%>" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="duedateInput">Due Date:</label>
                            <input type="text" name="due_date" id="duedateInput" class="validate" data-length="32" value="<%= homework%>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="descriptionInput">Description:</label>
                            <input type="text" name="description" id="descriptionInput" data-length="100" value="<%= description%>">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-large waves-effect waves-light pink" type="submit"><i
                                class="material-icons right">send</i>Submit</button>

                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Never Mind</a>
                    </div>
                <form method="post" action="/stuff/homework/<%= id%>"> <!-- default action is the page's URL --> 
            </div>

        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
    
</body>

</html>